.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
}

.input_submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0;
  font-size: 30px;
  background-color: #222831;
  color: #eeeeee;
  transition: 0.2s all;
}

.input_submit:hover {
  cursor: pointer;
  background-color: #393e46;
}

.todos {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}

.ListIcon {
  display: flex;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  background-color: #393e46;
}

.todo-sigleText {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #00adb5;
}

.icon {
  margin-left: 10px;
  font-size: 20px;
  color: #00adb5;
}

.icon:hover {
  cursor: pointer;
  color: #eeeeee;
}

/* @media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .container {
    width: 95%;
    flex-direction: column;
  }
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }
} */
