@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222831;
  font-family: "Poppins";
}

.heading {
  font-size: 40px;
  margin: 30px 0;
  color: #eeeeee;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}
